.layout
  border: 1px sloid #d7dde4
  background: #f5f7f9
  position: relative

.layout-content
  min-height: 200px
  margin: 15px
  overflow: hidden
  background: #fff
  border-radius: 4px

.layout-content-main
  padding: 10px

.layout-copy
  text-align: center
  padding: 10px 0 20px
  color: #9ea7b4

.layout-menu-left
  background: #464c5b

.layout-header
  height: 60px
  background: #fff
  box-shadow: 0 1px 1px rgba(0,0,0,.1)

.layout-logo-left
  width: 90%
  height: 30px
  background: #5b6270
  border-radius: 3px
  margin: 15px auto

.layout-breadcrumb
  padding: 10px 15px 0