.ivu-row
  margin-top: 3px
  .expand-key
    font-weight: bold

.title
  font-size: 14px
  font-weight: bold
  margin-bottom: 5px

.studentInfo
  font-size: 13px
  border: 1px solid #324157
  margin-bottom: 8px
  .title, .content
    padding: 5px
    text-align: center
  .title
    background-color: #324157
    color: #fff