html, body, #app
  height: 100%

#app
  display: flex
  flex-direction: column

header
  background-color: #464c5b
  padding: 10px 15px
  display: flex
  align-items: center
  .title
    color: #fff
    font-size: 18px
    small
      font-size: 12px
      margin-left: 8px
  .hold
    flex: 1
  .menu
    display: flex
    .item
      margin: 4px
      color: #fff
.layout
  flex: 1
  display: flex
  flex: 1
  display: flex
  .container
    flex: 1
    overflow: auto
    padding: 16px 12px
  
.ivu-spin-fix .ivu-spin-main
  height: initial

textarea.ivu-input
  font-size: 12px

.title
  text-align: left
  font-size: 45px
  background: #bbbec4
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

.main
  margin: 50px auto

.log-out
    position: absolute
    bottom: 0
    left: 0
    .ivu-btn
      width: 150px
      border-radius: 0px
    .ivu-tooltip
      margin-left: 0px
      padding: 14px