.user-container
  padding: 15px

  .user-search
    padding-bottom: 10px
    border-bottom: 2px solid #000

  .user-table
    margin-top: 10px
    .title
      font-size: 13px
      font-weight: bold

  .user-page
    margin-top: 30px
    bottom: 20px