*
  margin: 0
  padding: 0

*, *:before, *:after
  box-sizing: border-box

html, body, .auth
  height: 100%
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
.auth
  background-color: rgba(45, 45, 45, .9)

  .wrapper
    text-align: center
    position: absolute
    top: 30%
    left: -moz-calc(50% - 150px)
    left: -webkit-calc(50% - 150px)
    left: calc(50% - 150px)
    width: 300px
    input, button
      width: 100%
      padding: 10px
      font-size: 16px
      outline: none
    input
      font-weight: bold
      letter-spacing: 0.3px
      border: 1px solid #757575
      margin-bottom: 20px
    button
      background-color: #5c6bc0;
      color: #fff
      border: none
  .footer
    color: #000
    font-weight: 300
    font-size: 12px
    position: fixed
    bottom: 10px
    left: calc(50% - 45px)