.card-box
  padding: 20px
  -webkit-border-radius: 5px
  border-radius: 5px
  -moz-border-radius: 5px
  background-clip: padding-box
  margin-bottom: 20px
  background-color: #F9FAFC
  margin: 180px auto
  width: 400px
  // border: 2px solid #8492A6
.title
  margin: 0px auto 40px auto
  text-align: center
  color: #505458
.formLogin-title
  font-size: 28px
  text-align: center
.login-no-bottom
  margin-bottom: 10px
.formLogin-title h3
  font-size: 18px